# Copyright (c) The Zephyr Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

config POSIX_SYNCHRONIZED_IO
	bool "POSIX synchronized I/O"
	select POSIX_FSYNC
	help
	  Enable POSIX synchronized I/O, for finer-grained control on data integrity and file
	  integrity. If a file is opened with O_SYNC, writes are blocked until both file data and
	  metadata are synchronized. If a file is opened with O_DSYNC, writes are blocked until
	  data (and critical metadata) are synchronized. For read-only files, O_RSYNC ensures that
	  pending writes are flushed before a read finishes.

	  When enabled, the following function is available:

	  fdatasync()

	  This option also selects POSIX_FSYNC.
