# Copyright (c) 2024 Tenstorrent AI ULC
#
# SPDX-License-Identifier: Apache-2.0

config POSIX_SYNCHRONIZED_IO
	bool "POSIX synchronized I/O"
	select POSIX_FSYNC
	help
	  Select 'y' here and Zephyr will provide an implementation of fdatasync(), fsync(),
	  and msync().

