# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config POSIX_FILE_ATTRIBUTES_FD
	bool "POSIX file attributes file descriptor routines"
	depends on POSIX_FILE_ATTRIBUTES
	help
	  Select 'y' here and Zephyr will provide implementations of the
	  POSIX_FILE_ATTRIBUTES_FD Option Group: fchmodat() and fchownat().
	  Like chmod() and chown(), they validate their arguments against a
	  file system that keeps neither permissions nor ownership.
