# Copyright (c) 2018 Intel Corporation
# Copyright (c) 2023 Meta
# Copyright (c) 2025, Friedt Professional Engineering Services, Inc.
#
# SPDX-License-Identifier: Apache-2.0

config POSIX_THREADS_EXT
	bool "Extended POSIX thread support"
	depends on POSIX_THREADS
	help
	  Enable this option to use pthread_attr_getguardsize(), pthread_attr_setguardsize(),
	  pthread_mutexattr_gettype(), or pthread_mutexattr_settype().
