# Copyright (c) 2023, Meta
# SPDX-License-Identifier: Apache-2.0

# Options specific to clock.c / test_realtime

config TEST_CLOCK_RT_ITERATIONS
	int "Number of iterations to check clock_gettime() reliability"
	range 10 100
	default 20
	help
	  This option is specific to posix_apis.test_realtime in clock.c

config TEST_CLOCK_RT_SLEEP_MS
	int "Time to sleep between iterations in milliseconds"
	range 50 1000
	default 100
	help
	  This option is specific to posix_apis.test_realtime in clock.c

config TEST_CLOCK_RT_ERROR_MS
	int "Maximum overshoot (error) in milliseconds"
	range 10 500
	default 10
	help
	  This option is specific to posix_apis.test_realtime in clock.c

config TEST_SEM_N_LOOPS
	int "Number of loops in semaphore test"
	range 16 1024
	default 32
	help
	  This option is specific to semaphore.test_named_semaphore in semaphore.c

config SYS_THREAD_CONDVAR_MIN_ADD_TEST
	def_int 4
	help
	  This option is mainly intended to allow us to verify that the specified minimum number
	  of condition variables are in fact statically allocated and available to the application.
	  CMake (rather than Kconfig) outputs the guaranteed minimum value as SYS_THREAD_CONDVAR_MIN
	  (rather than CONFIG_SYS_THREAD_CONDVAR_MIN) for technical reasons.

config SYS_THREAD_MUTEX_MIN_ADD_TEST
	def_int 4
	help
	  This option is mainly intended to allow us to verify that the specified minimum number
	  of mutexes are in fact statically allocated and available to the application.
	  CMake (rather than Kconfig) outputs the guaranteed minimum value as SYS_THREAD_MUTEX_MIN
	  (rather than CONFIG_SYS_THREAD_MUTEX_MIN) for technical reasons.

config SYS_THREAD_STACK_MIN_ADD_TEST
	def_int 6
	help
	  This option is mainly intended to allow us to verify that the specified minimum number
	  of stacks are in fact statically allocated and available to the application.
	  CMake (rather than Kconfig) outputs the guaranteed minimum value as SYS_THREAD_STACK_MIN
	  (rather than CONFIG_SYS_THREAD_STACK_MIN) for technical reasons.

config SYS_THREAD_THREAD_MIN_ADD_TEST
	def_int 6
	help
	  This option is mainly intended to allow us to verify that the specified minimum number
	  of threads are in fact statically allocated and available to the application.
	  CMake (rather than Kconfig) outputs the guaranteed minimum value as SYS_THREAD_THREAD_MIN
	  (rather than CONFIG_SYS_THREAD_THREAD_MIN) for technical reasons.

source "Kconfig.zephyr"
