# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config POSIX_CPUTIME
	bool "POSIX per-process CPU-time clocks"
	default y
	help
	  This enables CLOCK_PROCESS_CPUTIME_ID and the _POSIX_CPUTIME option.

	  May be enabled directly or via :kconfig:option:`CONFIG_XSI_ADVANCED_REALTIME`.
