# Copyright (c) 2025 Friedt Professional Engineering Services, Inc.
# SPDX-License-Identifier: Apache-2.0

rsource "../Kconfig.test_common"
source "Kconfig.zephyr"

config TEST_POSIX_LINUX_COMPAT
	bool "Test POSIX suites are compatible with Linux"
	help
	  This option is used to verify that the POSIX testsuites pass on Linux. It is for exclusive
	  use with native_sim, and CONFIG_TC_PROVIDES_<OPTION_GROUP>=y must be set for the testsuite
	  (option group). The "DUT" in this case becomes the testsuite itself. By transitive
	  property, we can say approximately that if Linux passes against the testsuite, and Zephyr
	  passes the testsuite, then Linux and Zephyr are approximately compatible, to the extent of
	  coverage provided by the testsuite.

config TC_PROVIDES_POSIX_C_LANG_SUPPORT_R
	bool
	default y if TEST_POSIX_LINUX_COMPAT && ARCH_POSIX && CONFIG_NATIVE_LIBC
	default n
