# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config POSIX_THREAD_CPUTIME
	bool "POSIX per-thread CPU-time clocks"
	default y
	help
	  This enables CLOCK_THREAD_CPUTIME_ID and the _POSIX_THREAD_CPUTIME option.

	  May be enabled directly or via
	  :kconfig:option:`CONFIG_XSI_ADVANCED_REALTIME_THREADS`.
