# Copyright (c) 2024 Tenstorrent AI ULC
# Copyright (c) 2024 Meta Platforms
#
# SPDX-License-Identifier: Apache-2.0

config POSIX_C_LANG_SUPPORT_R
	bool "Thread-Safe General ISO C Library"
	select HEAP_SORT
	imply MINIMAL_LIBC_STRING_ERROR_TABLE
	help
	  Select 'y' here and Zephyr will provide an implementation of the POSIX_C_LANG_SUPPORT_R
	  Option Group, consisting of asctime_r(), ctime_r(), gmtime_r(), localtime_r(), qsort_r(),
	  rand_r(), strerror_r(), and strtok_r()
