# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config POSIX_FILE_SYSTEM_GLOB
	bool "POSIX pathname pattern matching"
	depends on POSIX_FILE_SYSTEM
	select POSIX_C_LIB_EXT
	help
	  Select 'y' here and Zephyr will provide implementations of the
	  POSIX_FILE_SYSTEM_GLOB Option Group: glob() and globfree().
	  Pattern matching within a path segment uses fnmatch() from
	  POSIX_C_LIB_EXT.
