# Copyright (c) 2024 BayLibre SAS
#
# SPDX-License-Identifier: Apache-2.0

config POSIX_MEMLOCK
	bool "POSIX memory locking"
	depends on POSIX_MAPPED_FILES
	help
	  Select 'y' here and Zephyr will provide support for mlockall() and munlockall().

	  Note: This feature depends on hardware MMU support as well as DEMAND_PAGING. If the
	  underlying platform does not support an MMU or DEMAND_PAGING, then affected POSIX API
	  functions will return -1 and set errno to ENOTSUP.

