# Copyright (c) 2025 Friedt Professional Engineering Services, Inc.
# SPDX-License-Identifier: Apache-2.0

rsource "../Kconfig.test_common"
source "Kconfig.zephyr"

config TC_PROVIDES_POSIX_SYSTEM_DATABASE_R
	bool
	default y if TEST_POSIX_LINUX_COMPAT && ARCH_POSIX && CONFIG_NATIVE_LIBC
	default n
