# Copyright (c) 2025 Tenstorrent AI ULC
#
# SPDX-License-Identifier: Apache-2.0

menuconfig XSI
	bool "X/Open System Interfaces (XSI)"
	select POSIX_FSYNC
	select POSIX_THREAD_ATTR_STACKADDR
	select POSIX_THREAD_ATTR_STACKSIZE
	help
	  Select 'y' to enable X/Open System Interfaces (XSI) option groups such as
	  XSI_REALTIME, XSI_THREADS_EXT, XSI_SINGLE_PROCESS, XSI_STREAMS, and
	  XSI_SYSTEM_LOGGING.

if XSI

# zephyr-keep-sorted-start
rsource "../xsi_realtime/Kconfig"
rsource "../xsi_single_process/Kconfig"
rsource "../xsi_streams/Kconfig"
rsource "../xsi_system_logging/Kconfig"
rsource "../xsi_threads_ext/Kconfig"
# zephyr-keep-sorted-stop

endif # XSI
