# Copyright (c) 2025 Tenstorrent AI ULC
#
# SPDX-License-Identifier: Apache-2.0

menuconfig XSI
	bool "X/Open System Interfaces (XSI)"
	select POSIX_FSYNC
	select POSIX_MAPPED_FILES
	select POSIX_THREADS
	select POSIX_MEMORY_PROTECTION
	select POSIX_THREAD_ATTR_STACKADDR
	select POSIX_THREAD_ATTR_STACKSIZE
	# to satisfy _POSIX_THREAD_SAFE_FUNCTIONS
	select POSIX_FILE_SYSTEM_R
	select POSIX_C_LANG_SUPPORT_R
	help
	  Select 'y' to enable X/Open System Interfaces (XSI) option groups such as
	  XSI_ADVANCED_REALTIME, XSI_REALTIME, XSI_THREADS_EXT, XSI_SINGLE_PROCESS,
	  XSI_STREAMS, and XSI_SYSTEM_LOGGING.
