# Copyright (c) 2026, Friedt Professional Engineering Services, Inc
# SPDX-License-Identifier: Apache-2.0

config SYS_THREAD_STACK_MIN_ADD_TEST
	int "Number of statically allocated thread stacks for test"
    default 3

config SYS_THREAD_THREAD_MIN_ADD_TEST
	int "Number of statically allocated threads for test"
    default 3

source "Kconfig.zephyr"
rsource "../Kconfig.test_common"
