# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config POSIX_FIFO_FD
	bool "POSIX FIFO file descriptor routines"
	depends on POSIX_FIFO
	help
	  Select 'y' here and Zephyr will provide implementations of the
	  POSIX_FIFO_FD Option Group: mkfifoat() and mknodat(); the latter
	  makes FIFOs and regular files, since no device special file exists
	  to create.
