# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config POSIX_DEVICE_SPECIFIC_R
	bool "POSIX terminal device interfaces (thread-safe)"
	select POSIX_DEVICE_SPECIFIC
	help
	  Select 'y' here and Zephyr will provide an implementation of the
	  POSIX_DEVICE_SPECIFIC_R Option Group: ttyname_r().
