# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config POSIX_SHARED_MEMORY_OBJECTS
	bool "POSIX shared memory objects"
	select ZVFS
	select ZVFS_FDTABLE
	select ZVFS_SHM
	select POSIX_MAPPED_FILES
	help
	  Select 'y' here and Zephyr will provide implementations of shm_open() and shm_unlink().
