# Copyright (c) 2024 Tenstorrent AI ULC
#
# SPDX-License-Identifier: Apache-2.0

config XSI_SINGLE_PROCESS
	bool "X/Open single process"
	depends on XSI
	select HWINFO
	help
	  Select 'y' here and Zephyr will provide implementations of
	  gethostid(), gettimeofday(), and putenv().

module = XSI_SINGLE_PROCESS
module-str = XSI Single Process
source "subsys/logging/Kconfig.template.log_config"
