# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config POSIX_PAGE_SIZE
	hex
	default MMU_PAGE_SIZE if MMU
	default 0x40
	help
	  This option is not user-configurable.

config POSIX_MAPPED_FILES
	bool "POSIX memory-mapped files"
	select ZVFS
	select ZVFS_FDTABLE
	select ZVFS_MMAP
	help
	  Select 'y' here and Zephyr will provide support for mmap() and munmap().

	  Anonymous memory and files are mapped at the granularity of CONFIG_POSIX_PAGE_SIZE:
	  the MMU page size, or 64 bytes when mappings are carved out of the kernel heap.
