# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config POSIX_FILE_SYSTEM_EXT
	bool "POSIX file system extension routines"
	depends on POSIX_FILE_SYSTEM
	help
	  Select 'y' here and Zephyr will provide implementations of the
	  POSIX_FILE_SYSTEM_EXT Option Group: alphasort(), dirfd(),
	  getdelim(), getline(), mkdtemp(), and scandir().
