# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config POSIX_FILE_SYSTEM_FD
	bool "POSIX file system file descriptor routines"
	depends on POSIX_FILE_SYSTEM
	help
	  Select 'y' here and Zephyr will provide implementations of the
	  POSIX_FILE_SYSTEM_FD Option Group: faccessat(), fdopendir(),
	  fstatat(), linkat(), mkdirat(), openat(), renameat(), unlinkat(),
	  and utimensat(). Relative paths resolve against a directory file
	  descriptor, or against the working directory with AT_FDCWD.
