# Copyright (c) 2024 BayLibre SAS
#
# SPDX-License-Identifier: Apache-2.0

config POSIX_PAGE_SIZE
	hex
	# TODO: something similar and arch-independent for MPUs
	default MMU_PAGE_SIZE if MMU
	default 0x40
	help
	  This option is not user-configurable.

config POSIX_MAPPED_FILES
	bool "POSIX memory-mapped files"
	help
	  Select 'y' here and Zephyr will provide support for mmap(), msync(), and munmap().

	  Note: This feature depends on hardware MMU support. If the underlying platform does not
	  support an MMU, then affected POSIX API functions may return -1 and set errno to ENOTSUP.

