# Copyright (c) 2024 Tenstorrent AI ULC
#
# SPDX-License-Identifier: Apache-2.0

config XSI_THREADS_EXT
	bool "X/Open threads extensions"
	depends on XSI
	select POSIX_THREAD_ATTR_STACKSIZE
	select POSIX_THREAD_PRIORITY_SCHEDULING
	help
	  This option provides support for pthread_attr_getstack(), pthread_attr_setstack(),
	  pthread_getconcurrency(), pthread_setconcurrency(), and the
	  _POSIX_THREAD_PRIORITY_SCHEDULING option.
