# Copyright (c) The Zephyr Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

config XSI_THREADS_EXT
	bool "X/Open threads extensions"
	depends on XSI
	help
	  Select 'y' here to enable the XSI Threads Extensions option group.

	  When this option is enabled, the following functions are available:
	  pthread_attr_getguardsize(), pthread_attr_setguardsize(),
	  pthread_getconcurrency(), pthread_setconcurrency().

	  For more information, please see
	  https://pubs.opengroup.org/onlinepubs/009604299/xrat/subprofiles.html
