# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

menuconfig POSIX_FD_MGMT
	bool "POSIX file descriptor management"
	select ZVFS
	help
	  Select 'y' here and Zephyr will provide dup(), dup2(), fcntl(), fseeko(),
	  ftello(), ftruncate(), and lseek() for the POSIX_FD_MGMT Option Group.

if POSIX_FD_MGMT

# These options are intended to be used for compatibility with external POSIX
# implementations such as those in Newlib or Picolibc.

config POSIX_FD_MGMT_ALIAS_FCNTL
	bool
	help
	  When selected via Kconfig, Zephyr will provide an alias for fcntl() as _fcntl().

config POSIX_FD_MGMT_ALIAS_FTRUNCATE
	bool
	help
	  When selected via Kconfig, Zephyr will provide an alias for ftruncate() as _ftruncate().

config POSIX_FD_MGMT_ALIAS_LSEEK
	bool
	help
	  When selected via Kconfig, Zephyr will provide an alias for lseek() as _lseek().

config POSIX_FD_MGMT_ALIAS_FSEEKO
	bool
	help
	  When selected via Kconfig, Zephyr will provide an alias for fseeko() as _fseeko().

config POSIX_FD_MGMT_ALIAS_FTELLO
	bool
	help
	  When selected via Kconfig, Zephyr will provide an alias for ftello() as _ftello().

config POSIX_FD_MGMT_ALIAS_FSEEKO_R
	bool
	help
	  When selected via Kconfig, Zephyr will provide _fseeko_r() calling fseeko().

config POSIX_FD_MGMT_ALIAS_FTELLO_R
	bool
	help
	  When selected via Kconfig, Zephyr will provide _ftello_r() calling ftello().

endif # POSIX_FD_MGMT
