# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config POSIX_SYMBOLIC_LINKS
	bool "POSIX symbolic links"
	depends on POSIX_FILE_SYSTEM
	help
	  Select 'y' here and Zephyr will provide implementations of the
	  POSIX_SYMBOLIC_LINKS Option Group: lchown(), lstat(), readlink(),
	  and symlink(). Symbolic links require support from the underlying
	  file system driver; on file systems without it, symlink() fails
	  and lstat() is equivalent to stat().
