# Copyright (c) 2025 Friedt Professional Engineering Services, Inc.
#
# SPDX-License-Identifier: Apache-2.0

menuconfig POSIX_NON_PORTABLE
	bool "POSIX non-portable extensions"
	depends on POSIX_THREADS
	select THREAD_NAME
	help
	  Select 'y' here to enable POSIX non-portable (_np) pthread extensions:
	  pthread_getname_np(), pthread_setname_np(), pthread_timedjoin_np(), and
	  pthread_tryjoin_np().

if POSIX_NON_PORTABLE

module = POSIX_NON_PORTABLE
module-str = POSIX non-portable pthread extensions
source "subsys/logging/Kconfig.template.log_config"

endif # POSIX_NON_PORTABLE
