# Copyright (c) 2024 Tenstorrent AI ULC
#
# SPDX-License-Identifier: Apache-2.0

config XSI_SYSTEM_LOGGING
	bool "X/Open system logging"
	help
	  This option provides support for closelog(), openlog(), syslog(),
	  setlogmask(), and vsyslog().

