# Copyright (c) The Zephyr Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

# Note: implied options have changed over the years. Most are now mandatory system interfaces.
# https://pubs.opengroup.org/onlinepubs/009695399/basedefs/xbd_chap02.html
# https://pubs.opengroup.org/onlinepubs/9799919799/basedefs/V1_chap02.html

menuconfig XSI
	bool "X/Open System Interfaces (XSI)"
	select POSIX_FSYNC
	select POSIX_THREAD_ATTR_STACKADDR
	select POSIX_THREAD_ATTR_STACKSIZE
	help
	  Select 'y' to support X/Open System Interfaces (XSI).

	  When this option group is enabled, the _XOPEN_UNIX feature test
	  macro will be defined to a value other than -1.
