# Copyright (c) 2024 BayLibre SAS
#
# SPDX-License-Identifier: Apache-2.0

config POSIX_MEMLOCK_RANGE
	bool "POSIX range memory locking"
	depends on POSIX_MAPPED_FILES
	imply DEMAND_PAGING
	help
	  Select 'y' here and Zephyr will provide support for mlock() and munlock().

	  Note: This feature depends on hardware MMU support. If the underlying platform does not
	  support an MMU, then affected POSIX API functions will return -1 and set errno to ENOTSUP.

