# Copyright (c) 2024 Friedt Professional Engineering Services, Inc.
# SPDX-License-Identifier: Apache-2.0

source "Kconfig.zephyr"
rsource "../Kconfig.test_common"

menu "File Locking Tests"

config TEST_NEGLIGIBLE_DELAY_MS
	int "Negligible delay in milliseconds"
	default 50
	help
	  Delays less than or equal to this value are considered neglible for the purposes of this
	  testsuite.

config TEST_LOCK_PERIOD_MS
	int "Time to hold a lock in milliseconds"
	default 100
	help
	  The amount of time to hold a lock before releasing it, for the purposes of this testuite.

endmenu

config TC_PROVIDES_POSIX_FILE_LOCKING
	bool
	default y if TEST_POSIX_LINUX_COMPAT && ARCH_POSIX && CONFIG_NATIVE_LIBC
	default n
