# Copyright (c) 2024 BayLibre SAS
#
# SPDX-License-Identifier: Apache-2.0

config POSIX_MEMORY_PROTECTION
	bool "POSIX memory protection"
	help
	  Select 'y' here and Zephyr will provide support for mprotect().

