/*
 * SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* 64 MiB: the process tree's page tables and copied frames live here */
&dram0 {
	reg = <0x0 DT_SIZE_M(64)>;
};
