# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config POSIX_USER_GROUPS_R
	bool "POSIX user and group identity (thread-safe)"
	select POSIX_USER_GROUPS
	help
	  Select 'y' here and Zephyr will provide an implementation of the
	  POSIX_USER_GROUPS_R Option Group: getlogin_r().
