# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

source "Kconfig.zephyr"

choice TEST_LOCALE_CHOICE
	prompt "Locale for strfmon tests"
	default TEST_LOCALE_CHOICE_C
	help
	  Choose the locale to be used for strfmon tests.

config TEST_LOCALE_CHOICE_C
	bool "Test locale C"
	help
	  Enable test using the C locale.

config TEST_LOCALE_CHOICE_EN_US_UTF8
	bool "Test locale en_US.UTF-8"
	help
	  Test using the en_US.UTF-8 locale.

endchoice

config TEST_LOCALE_STR
	string
	default "C" if TEST_LOCALE_CHOICE_C
	default "en_US.UTF-8" if TEST_LOCALE_CHOICE_EN_US_UTF8
	default "C"
