# Copyright (c) The Zephyr Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

config XSI_ADVANCED_REALTIME
	bool "X/Open Advanced Realtime"
	depends on XSI
	select POSIX_TIMERS
	select POSIX_CLOCK_SELECTION
	select POSIX_CPUTIME
	select POSIX_MONOTONIC_CLOCK
	help
	  Select 'y' here to enable the XSI Advanced Realtime option group.

	  Per IEEE Std 1003.1 / XSI, this option group consists of the following
	  options (among others not yet implemented in Zephyr):

	  _POSIX_CLOCK_SELECTION, _POSIX_CPUTIME, and _POSIX_MONOTONIC_CLOCK.

	  Defining _POSIX_CPUTIME or _POSIX_MONOTONIC_CLOCK also requires
	  _POSIX_TIMERS; enabling this option group selects POSIX_TIMERS accordingly.

	  For more information, please see
	  https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap02.html
