# Copyright (c) The Zephyr Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

config POSIX_PIPE
	bool "POSIX pipe support"
	select ZVFS if !TC_PROVIDES_POSIX_PIPE
	select ZVFS_PIPE if !TC_PROVIDES_POSIX_PIPE
	help
	  Select 'y' here to enable the POSIX_PIPE Option Group; Zephyr will
	  provide an implementation of pipe().

	  The number of concurrently open pipes and the pipe buffer capacity
	  (which is also PIPE_BUF, the atomic write limit) are configured with
	  CONFIG_ZVFS_PIPE_MAX and CONFIG_ZVFS_PIPE_BUF_SIZE.

	  For more information, please see
	  https://pubs.opengroup.org/onlinepubs/9699919799/xrat/V4_subprofiles.html
