# Copyright (c) 2020 Tobias Svehagen
# Copyright (c) 2023 Meta
#
# SPDX-License-Identifier: Apache-2.0

config EVENTFD
	bool "Support for eventfd"
	select ZVFS if !TC_PROVIDES_EVENTFD
	select ZVFS_EVENTFD if !TC_PROVIDES_EVENTFD
	help
	  Enable support for event file descriptors, eventfd. An eventfd can
	  be used as an event wait/notify mechanism together with POSIX calls
	  like read, write and poll.
