# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

menuconfig KCL
	bool "Kernel compatibility layers"
	help
	  System call interfaces of other kernels, so that programs built for
	  them run on Zephyr unchanged.

if KCL

rsource "linux/Kconfig"

endif # KCL
