# Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

menu "POSIX API Support"

# POSIX Subprofile Definitions
rsource "Kconfig.profile"

# Toolchain hooks for external implementations
rsource "Kconfig.toolchain"

# POSIX C Library Extensions
# This menu is for POSIX Option Groups that do not require OS support.
menu "POSIX C Library Extensions"
rsource "c_lang_support_r/Kconfig"
rsource "c_lib_ext/Kconfig"
endmenu

# Eventfd Support (not officially POSIX)
rsource "eventfd/Kconfig"

# POSIX System Interfaces
menuconfig POSIX_SYSTEM_INTERFACES
	bool "POSIX System Interfaces"
	select NATIVE_LIBC_INCOMPATIBLE if !POSIX_TEST_LINUX_COMPAT
	help
	  Select 'y' here to support POSIX System Interfaces within Zephyr.

	  Options in this menu are organized by POSIX subprofiling Option Group.

if POSIX_SYSTEM_INTERFACES

# zephyr-keep-sorted-start
rsource "asynchronous_io/Kconfig"
rsource "barriers/Kconfig"
rsource "clock_selection/Kconfig"
rsource "cputime/Kconfig"
rsource "device_io/Kconfig"
rsource "fd_mgmt/Kconfig"
rsource "file_locking/Kconfig"
rsource "file_system/Kconfig"
rsource "file_system_r/Kconfig"
rsource "fsync/Kconfig"
rsource "mapped_files/Kconfig"
rsource "memlock/Kconfig"
rsource "memlock_range/Kconfig"
rsource "memory_protection/Kconfig"
rsource "message_passing/Kconfig"
rsource "multi_process/Kconfig"
rsource "networking/Kconfig"
rsource "non_portable/Kconfig"
rsource "pipe/Kconfig"
rsource "priority_scheduling/Kconfig"
rsource "realtime_signals/Kconfig"
rsource "rw_locks/Kconfig"
rsource "semaphores/Kconfig"
rsource "shared_memory_objects/Kconfig"
rsource "signal_jump/Kconfig"
rsource "signals/Kconfig"
rsource "signals_ext/Kconfig"
rsource "single_process/Kconfig"
rsource "spawn/Kconfig"
rsource "spin_locks/Kconfig"
rsource "sporadic_server/Kconfig"
rsource "synchronized_io/Kconfig"
rsource "system_database/Kconfig"
rsource "system_database_r/Kconfig"
rsource "thread_cputime/Kconfig"
rsource "thread_priority_scheduling/Kconfig"
rsource "thread_sporadic_server/Kconfig"
rsource "threads_base/Kconfig"
rsource "threads_ext/Kconfig"
rsource "timers/Kconfig"
# zephyr-keep-sorted-stop

menu "X/Open system interfaces"
# zephyr-keep-sorted-start
rsource "xsi/Kconfig"
rsource "xsi_advanced_realtime/Kconfig"
rsource "xsi_advanced_realtime_threads/Kconfig"
rsource "xsi_realtime/Kconfig"
rsource "xsi_realtime_threads/Kconfig"
rsource "xsi_single_process/Kconfig"
rsource "xsi_streams/Kconfig"
rsource "xsi_system_logging/Kconfig"
rsource "xsi_threads_ext/Kconfig"
# zephyr-keep-sorted-stop

endmenu # "X/Open system interfaces"

# POSIX Shell utilities
rsource "shell/Kconfig"
endif

endmenu
