# Copyright (c) The Zephyr Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

config POSIX_THREAD_SPORADIC_SERVER
	bool "Accept the SCHED_SPORADIC policy in POSIX scheduling interfaces"
	depends on POSIX_THREAD_PRIORITY_SCHEDULING
	help
	  Select 'y' here to enable the Thread Sporadic Server option
	  (_POSIX_THREAD_SPORADIC_SERVER), making the SCHED_SPORADIC scheduling
	  policy and the sched_ss_* members of struct sched_param available.

	  Zephyr accepts SCHED_SPORADIC and validates the sporadic server
	  scheduling parameters, but does not enforce execution-time budgets: a
	  thread scheduled under SCHED_SPORADIC executes as if scheduled under
	  SCHED_RR at sched_priority. See the "Sporadic Server Scheduling"
	  section of the Implementation Details documentation for the rationale.

	  For more information, please see
	  https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap02.html
