config SYS_THREAD_CONDVAR_MIN_ADD_TEST
	int "Number of condition variables guaranteed to be available for POSIX tests"
	default 0
	help
	  This option is mainly intended to allow us to verify that the specified minimum number
	  of condition variables are in fact statically allocated and available to the application.
	  CMake (rather than Kconfig) outputs the guaranteed minimum value as SYS_THREAD_CONDVAR_MIN
	  (rather than CONFIG_SYS_THREAD_CONDVAR_MIN) for technical reasons.

config SYS_THREAD_MUTEX_MIN_ADD_TEST
	int "Number of mutexes guaranteed to be available for POSIX tests"
	default 0
	help
	  This option is mainly intended to allow us to verify that the specified minimum number
	  of mutexes are in fact statically allocated and available to the application.
	  CMake (rather than Kconfig) outputs the guaranteed minimum value as SYS_THREAD_MUTEX_MIN
	  (rather than CONFIG_SYS_THREAD_MUTEX_MIN) for technical reasons.

config SYS_THREAD_STACK_MIN_ADD_TEST
	int "Number of thread stacks guaranteed to be available for POSIX tests"
	default 0
	help
	  This option is mainly intended to allow us to verify that the specified minimum number
	  of stacks are in fact statically allocated and available to the application.
	  CMake (rather than Kconfig) outputs the guaranteed minimum value as SYS_THREAD_STACK_MIN
	  (rather than CONFIG_SYS_THREAD_STACK_MIN) for technical reasons.

config SYS_THREAD_THREAD_MIN_ADD_TEST
	int "Number of threads guaranteed to be available for POSIX tests"
	default 0
	help
	  This option is mainly intended to allow us to verify that the specified minimum number
	  of threads are in fact statically allocated and available to the application.
	  CMake (rather than Kconfig) outputs the guaranteed minimum value as SYS_THREAD_THREAD_MIN
	  (rather than CONFIG_SYS_THREAD_THREAD_MIN) for technical reasons.

config TEST_POSIX_LINUX_COMPAT
	bool "Test POSIX suites are compatible with Linux"
	help
	  This option is used to verify that the POSIX testsuites pass on Linux. It is for exclusive
	  use with native_sim, and CONFIG_TC_PROVIDES_<OPTION_GROUP>=y must be set for the testsuite
	  (option group). The "DUT" in this case becomes the testsuite itself. By transitive
	  property, we can say approximately that if Linux passes against the testsuite, and Zephyr
	  passes the testsuite, then Linux and Zephyr are approximately compatible, to the extent of
	  coverage provided by the testsuite.
