config SYS_THREAD_CONDVAR_MIN_ADD_TEST
	int "Number of condition variables guaranteed to be available for POSIX tests"
	default 0
	help
	  This option is mainly intended to allow us to verify that the specified minimum number
	  of condition variables are in fact statically allocated and available to the application.
	  CMake (rather than Kconfig) outputs the guaranteed minimum value as SYS_THREAD_CONDVAR_MIN
	  (rather than CONFIG_SYS_THREAD_CONDVAR_MIN) for technical reasons.

config SYS_THREAD_MUTEX_MIN_ADD_TEST
	int "Number of mutexes guaranteed to be available for POSIX tests"
	default 0
	help
	  This option is mainly intended to allow us to verify that the specified minimum number
	  of mutexes are in fact statically allocated and available to the application.
	  CMake (rather than Kconfig) outputs the guaranteed minimum value as SYS_THREAD_MUTEX_MIN
	  (rather than CONFIG_SYS_THREAD_MUTEX_MIN) for technical reasons.

config SYS_THREAD_STACK_MIN_ADD_TEST
	int "Number of thread stacks guaranteed to be available for POSIX tests"
	default 0
	help
	  This option is mainly intended to allow us to verify that the specified minimum number
	  of stacks are in fact statically allocated and available to the application.
	  CMake (rather than Kconfig) outputs the guaranteed minimum value as SYS_THREAD_STACK_MIN
	  (rather than CONFIG_SYS_THREAD_STACK_MIN) for technical reasons.

config SYS_THREAD_THREAD_MIN_ADD_TEST
	int "Number of threads guaranteed to be available for POSIX tests"
	default 0
	help
	  This option is mainly intended to allow us to verify that the specified minimum number
	  of threads are in fact statically allocated and available to the application.
	  CMake (rather than Kconfig) outputs the guaranteed minimum value as SYS_THREAD_THREAD_MIN
	  (rather than CONFIG_SYS_THREAD_THREAD_MIN) for technical reasons.
