config SYS_THREAD_CONDVAR_MIN_ADD_TEST
	int "Number of condition variables guaranteed to be available for POSIX tests"
	default 0
	help
	  This option is mainly intended to allow us to verify that the specified minimum number
	  of condition variables are in fact statically allocated and available to the application.
	  CMake (rather than Kconfig) outputs the guaranteed minimum value as SYS_THREAD_CONDVAR_MIN
	  (rather than CONFIG_SYS_THREAD_CONDVAR_MIN) for technical reasons.

config SYS_THREAD_MUTEX_MIN_ADD_TEST
	int "Number of mutexes guaranteed to be available for POSIX tests"
	default 0
	help
	  This option is mainly intended to allow us to verify that the specified minimum number
	  of mutexes are in fact statically allocated and available to the application.
	  CMake (rather than Kconfig) outputs the guaranteed minimum value as SYS_THREAD_MUTEX_MIN
	  (rather than CONFIG_SYS_THREAD_MUTEX_MIN) for technical reasons.

config SYS_THREAD_STACK_MIN_ADD_TEST
	int "Number of thread stacks guaranteed to be available for POSIX tests"
	default 0
	help
	  This option is mainly intended to allow us to verify that the specified minimum number
	  of stacks are in fact statically allocated and available to the application.
	  CMake (rather than Kconfig) outputs the guaranteed minimum value as SYS_THREAD_STACK_MIN
	  (rather than CONFIG_SYS_THREAD_STACK_MIN) for technical reasons.

config SYS_THREAD_THREAD_MIN_ADD_TEST
	int "Number of threads guaranteed to be available for POSIX tests"
	default 0
	help
	  This option is mainly intended to allow us to verify that the specified minimum number
	  of threads are in fact statically allocated and available to the application.
	  CMake (rather than Kconfig) outputs the guaranteed minimum value as SYS_THREAD_THREAD_MIN
	  (rather than CONFIG_SYS_THREAD_THREAD_MIN) for technical reasons.

if POSIX_TEST_LINUX_COMPAT

# To support verifying the testsuites work against the native libc in linux_compat configurations
config NATIVE_LIBC
	bool
	select FULL_LIBC_SUPPORTED
	# zephyr-keep-sorted-start
	select TC_PROVIDES_EVENTFD
	select TC_PROVIDES_POSIX_ASYNCHRONOUS_IO
	select TC_PROVIDES_POSIX_BARRIERS
	select TC_PROVIDES_POSIX_CLOCK_SELECTION
	select TC_PROVIDES_POSIX_C_LANG_SUPPORT_R
	select TC_PROVIDES_POSIX_C_LIB_EXT
	select TC_PROVIDES_POSIX_DEVICE_IO
	select TC_PROVIDES_POSIX_FD_MGMT
	select TC_PROVIDES_POSIX_FILE_LOCKING
	select TC_PROVIDES_POSIX_FILE_SYSTEM
	select TC_PROVIDES_POSIX_FILE_SYSTEM_R
	select TC_PROVIDES_POSIX_FSYNC
	select TC_PROVIDES_POSIX_MAPPED_FILES
	select TC_PROVIDES_POSIX_MEMLOCK
	select TC_PROVIDES_POSIX_MEMLOCK_RANGE
	select TC_PROVIDES_POSIX_MEMORY_PROTECTION
	select TC_PROVIDES_POSIX_MESSAGE_PASSING
	select TC_PROVIDES_POSIX_MULTI_PROCESS
	select TC_PROVIDES_POSIX_NETWORKING
	select TC_PROVIDES_POSIX_NON_PORTABLE
	select TC_PROVIDES_POSIX_PRIORITY_SCHEDULING
	select TC_PROVIDES_POSIX_REALTIME_SIGNALS
	select TC_PROVIDES_POSIX_RW_LOCKS
	select TC_PROVIDES_POSIX_SEMAPHORES
	select TC_PROVIDES_POSIX_SHARED_MEMORY_OBJECTS
	select TC_PROVIDES_POSIX_SIGNALS
	select TC_PROVIDES_POSIX_SIGNALS_EXT
	select TC_PROVIDES_POSIX_SINGLE_PROCESS
	select TC_PROVIDES_POSIX_SPIN_LOCKS
	select TC_PROVIDES_POSIX_SYNCHRONIZED_IO
	select TC_PROVIDES_POSIX_SYSTEM_DATABASE
	select TC_PROVIDES_POSIX_SYSTEM_DATABASE_R
	select TC_PROVIDES_POSIX_THREAD_PRIORITY_SCHEDULING
	select TC_PROVIDES_POSIX_THREADS
	select TC_PROVIDES_POSIX_THREADS_EXT
	select TC_PROVIDES_POSIX_TIMERS
	select TC_PROVIDES_XSI_ADVANCED_REALTIME
	select TC_PROVIDES_XSI_ADVANCED_REALTIME_THREADS
	select TC_PROVIDES_XSI_REALTIME_THREADS
	select TC_PROVIDES_XSI_STREAMS
	select TC_PROVIDES_XSI_THREADS_EXT
	# zephyr-keep-sorted-stop

endif
