# Copyright (c) 2025 Atym, Inc.
#
# SPDX-License-Identifier: Apache-2.0

menuconfig POSIX_PIPE
	bool "POSIX pipe system API support"
	default y if POSIX_API
	select FDTABLE
	help
	  This enables POSIX style pipe API.

if POSIX_PIPE

config POSIX_PIPE_BUF
    int "PIPE_BUF size"
	default 64
	help
	  Number of bytes in each POSIX pipe ring buffer. PIPE_BUF is defined from this.

endif # POSIX_PIPE
