# Copyright (c) 2018 Intel Corporation
# Copyright (c) 2023 Meta
# Copyright (c) 2024 Tenstorrent AI ULC
#
# SPDX-License-Identifier: Apache-2.0

# zephyr-keep-sorted-start
rsource "asynchronous_io/Kconfig"
rsource "barriers/Kconfig"
rsource "clock_selection/Kconfig"
rsource "device_io/Kconfig"
rsource "fd_mgmt/Kconfig"
rsource "file_locking/Kconfig"
rsource "file_system/Kconfig"
rsource "file_system_r/Kconfig"
rsource "fsync/Kconfig"
rsource "mapped_files/Kconfig"
rsource "memlock/Kconfig"
rsource "memlock_range/Kconfig"
rsource "memory_protection/Kconfig"
rsource "message_passing/Kconfig"
rsource "multi_process/Kconfig"
rsource "networking/Kconfig"
rsource "non_portable/Kconfig"
rsource "signals_ext/Kconfig"
rsource "priority_scheduling/Kconfig"
rsource "thread_priority_scheduling/Kconfig"
rsource "rw_locks/Kconfig"
rsource "semaphores/Kconfig"
rsource "shared_memory_objects/Kconfig"
rsource "signals/Kconfig"
rsource "single_process/Kconfig"
rsource "spin_locks/Kconfig"
rsource "synchronized_io/Kconfig"
rsource "threads_base/Kconfig"
rsource "threads_ext/Kconfig"
rsource "timers/Kconfig"
# zephyr-keep-sorted-stop

menu "X/Open system interfaces"
# zephyr-keep-sorted-start
rsource "xsi/Kconfig"
rsource "xsi_advanced_realtime/Kconfig"
rsource "xsi_advanced_realtime_threads/Kconfig"
rsource "xsi_realtime/Kconfig"
rsource "xsi_realtime_threads/Kconfig"
rsource "xsi_single_process/Kconfig"
rsource "xsi_streams/Kconfig"
rsource "xsi_system_logging/Kconfig"
rsource "xsi_threads_ext/Kconfig"
# zephyr-keep-sorted-stop

endmenu # "X/Open system interfaces"
