# Copyright (c) The Zephyr Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

config XSI_REALTIME
	bool "X/Open Realtime"
	depends on XSI
	select POSIX_FSYNC
	select POSIX_MEMLOCK
	select POSIX_MEMLOCK_RANGE
	select POSIX_MESSAGE_PASSING
	# Not yet implemented, but optional
	# imply POSIX_PRIORITIZED_IO
	select POSIX_PRIORITY_SCHEDULING
	select POSIX_SHARED_MEMORY_OBJECTS
	select POSIX_SYNCHRONIZED_IO
	help
	  Select 'y' here to enable the XSI Realtime option group.

	  This option group consists of the following options:

	  _POSIX_FSYNC, _POSIX_MEMLOCK, _POSIX_MEMLOCK_RANGE, _POSIX_MESSAGE_PASSING,
	  _POSIX_PRIORITIZED_IO (optional), _POSIX_PRIORITY_SCHEDULING,
	  _POSIX_SHARED_MEMORY_OBJECTS, and _POSIX_SYNCHRONIZED_IO.

	  The functionality associated with _POSIX_FSYNC shall always be supported on
	  XSI-conformant systems (:kconfig:option:`CONFIG_XSI`).

	  Support of _POSIX_PRIORITIZED_IO on XSI-conformant systems is optional.

	  When this option group is enabled, the _XOPEN_REALTIME feature test macro
	  will be defined to a value other than -1.

	  For more information, please see
	  https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap02.html
