# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config POSIX_FILE_SYSTEM_R
	bool "Thread-Safe File System"
	select FILE_SYSTEM
	select ZVFS
	select ZVFS_FDTABLE
	select ZVFS_FS
	help
	  Select 'y' here and Zephyr will provide an implementation of the POSIX_FILE_SYSTEM_R
	  Option Group, consisting of readdir_r().

