# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config POSIX_SYMBOLIC_LINKS_FD
	bool "POSIX symbolic links file descriptor routines"
	depends on POSIX_SYMBOLIC_LINKS
	help
	  Select 'y' here and Zephyr will provide implementations of the
	  POSIX_SYMBOLIC_LINKS_FD Option Group: readlinkat() and symlinkat().
